[submodule "clay"]
	path = clay
	url = git@github.com:nicbarker/clay.git
[submodule "nob.h"]
	path = nob.h
	url = git@github.com:tsoding/nob.h.git
[submodule "common_c"]
	path = common_c
	url = git@github.com:glasPal6/common_c.git
[submodule "qbe"]
	path = qbe
	url = git://c9x.me/qbe.git
[submodule "raylib"]
	path = raylib
	url = git@github.com:raysan5/raylib.git
[submodule "libgpiod"]
	path = libgpiod
	url = git@github.com:brgl/libgpiod.git
[submodule "base_c"]
	path = base_c
	url = git@github.com:glasPal6/base_c.git
[submodule "WiringPi"]
	path = WiringPi
	url = git@github.com:WiringPi/WiringPi.git
